.input-fields {
  position: relative;
  padding: 32px;
  width: 100%;
  max-width: 640px;
  background: white;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.group {
  display: flex;
}

.group>*:first-child {
  flex-grow: 0;
  min-width: 120px;
}

.group>* {
  margin-right: 10px;
  flex-grow: 1;
}

.multi-field {
  display: flex;
  flex-direction: row;
  gap: 16px;
  flex-grow: 1;
}

.invalid-input {
  border: 1px solid red;
}

.password-input {
  position: relative;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.icon-span {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.icon-input {
  position: absolute;
  right: 5px;
  bottom: 2px;
}

.warning {
  color: red;
}
