#LearningInfoContainer ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
}

/*targets <li><a> inside ul*/
#LearningInfoContainer ul>li a {
  color: black;
}

#LearningInfoContainer ul>li a:hover {
  color: blue;
}

#LearningInfoContainer div>h3 {
  font-style: italic;
  font-weight: lighter;
  text-decoration: underline;
}

#LearningInfoContainer div>p {
  font-size: larger;
  text-indent: 50px;
}

#LearningInfoContainer div>h4 {
  padding: 15px;
  font-weight: lighter;
}

#LearningInfoContainer #sub-header {
  background-color: #f8f9fa;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#LearningInfoContainer .header-content {
  padding-top: 90px;
  margin-top: -90px;
}

#LearningInfoContainer .carousel-control-next,
#LearningInfoContainer .carousel-control-prev {
  filter: invert(100%);
}
